<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
<!--Comp229-020
Assignment 1
Date: Sep 28, 2023
Student name: Wing Sau Chun
Student ID: 301299037
-->  

<main class="container">
  <link rel="stylesheet" href="/Content/style.css"/>
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <p>About Me</p>
     <!--photo and description-->
     <img src="/img/ivyc.jpg" alt="ivyc" style="max-width: 15%;">
     <p>
      I'm Ivy Chun, an experienced investment fund accountant specialized in private equity funds.<br>
      I am currently pursuing a Software Engineering Technician diploma at Centennial College with the goal<br>
      of further expanding my expertise. My aim is to leverage the knowledge gained from this program to<br>
      optimize and simplify the accounting procedures.
      </p>

      <!--resume PDF-->
      <a href="/Content/Resume_Ivy Wing Sau Chun 2023.pdf" target="_blank" download>Download my resume (PDF)</a>
    </div>
    </main>
    
    <!--bottom nav-->
    
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   