<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <link rel="stylesheet" href="/Content/style.css"/>
  <div class="jumbotron">
    <h1 class="display-4">Welcome to Ivy's <%= title %> page</h1>
    <p>Mission statement</p>
    <h2>
      I'm passionate about accounting, finance, and technology, and I aim to leverage my knowledge to help companies improve efficiency by streamlining manual processes.
    </h2>
    
    </div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   