<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
<!--Comp229-020
Assignment 1
Date: Sep 28, 2023
Student name: Wing Sau Chun
Student ID: 301299037
--> 

<main class="container">
  <link rel="stylesheet" href="/Content/style.css"/>
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <ul>
      <li>Web page creation</li>
      <li>Mini games creation</li>
      <li>CSV to JSON converter</li>
      <li>Word cloud generator</li>
      <li>Excel template customization</li>
    </ul>
    </div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   